.login-container {
  
    height: 100dvh ;
    // height: calc(100dvh - 80px);
    // padding: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: #ffb700;

    .login-content {
        width: 90vw;
        max-width: 300px;
        height: 380px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 0 auto;

        
        h3{
            color: rgba(0, 0, 0, 0.61);
            background-color: #ffb700; 
            height: 100px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6em;
        }

        .admin-login{
            background-color: #00306b; 
            color: #ffffff;
        }

        .user-login{
            background-color: #ffb700; 
        }


        form {
            display: flex;
            flex-direction: column;
            padding: 0 20px;


            input[type="email"],
            input[type="password"] {
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid #ffb700;
                &:focus {
                    outline: none;
                }
            }

            input[type="password"]{
                margin: 40px 0 0;
            }

            input[type="submit"]{
                padding: 9px 0;
                margin: 30px 0;
                border: none;
                cursor: pointer;
            }

        }

    }

}