.app-category-section {
    width: 100%;
    height: auto;




    padding-top: 70px;

    .app-category-wrapper {
        width: 100%;
        height: auto;
        padding: 1rem 0 0 0;
        


        .app-category-products-wrapper {
            text-align: center;

            .category-header{
                font-size: 26px;
                margin-bottom: 1rem;
                color: #000;
            }


            .app-products-wrapper {

                .app-products-content {
                    padding: 0 3.5rem;

                        .app-product {
                        width: 100%;
                        text-align: center;
                        border: 1px solid #dfdfdf;
                        border-radius: 1.5rem;
                        margin-bottom: 1rem;
                        padding: 1rem 0;

                        .app-product-img {
                            width: 130px;
                            height: 130px;
                            margin: auto;
                          

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                object-position: 0%;
                                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                            
                            }

                        }

                        .app-product-info {

                            h3, p, .buy-btn{
                                margin-top: 0.6rem;
                            }

                            .product-name{
                                color: #313131;
                                font-size: 22px;
                            }

                            .product-price{
                                color: #000;
                                font-size: 22px; 
                            }

                            button{
                                width: 110px;
                                padding: 0.9rem;
                                border-radius: 1.5rem;
                                border: none;
                                background-color: #ffd82b;
                             
                                a{
                                    text-decoration: none;
                                    color: #fff;
                                    font-weight: bold;
                                }
                            
                            }

                          
                        }
                    }
                }
            }

        }
    }
}