.app-category-section {
    width: 100%;
    height: auto;
    // padding-top: 70px;

    .hero {
        position: relative;

        .category-img-wrapper {
            width: 100%;
            height: 45vh;
            background-color: #000;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 100% 0%;
                opacity: 0.7;
            }
        }

        .our-menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 57px;
        }
    }

    .app-category-wrapper {
        width: 100%;
        height: auto;
        padding: 1rem 0 0 0;



        .app-category-products-wrapper {


            .category-header {
                font-size: 26px;
                margin-bottom: 1rem;
                color: #000;
                text-align: center;
            }


            .app-products-wrapper {

                .app-products-content {
                    padding: 0 2rem;

                    .app-product {
                        width: 100%;
                        // text-align: center;
                        border: 1px solid #b1b1b1;
                        border-radius: 1.5rem;
                        margin-bottom: 1rem;
                        padding: 2rem 0;

                        .app-product-img {
                            width: 130px;
                            height: 130px;
                            margin: auto;


                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                object-position: 0%;
                                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                            }

                        }

                        .app-product-info {
                            padding: 0 2.5rem;
                            // text-align: center;

                            h3,
                            p,
                            .buy-btn {
                                margin-top: 1rem;
                            }

                            .product-name {
                                color: #313131;
                                font-size: 26px;
                            }

                            .product-desc {
                                font-size: 18px;
                                max-height: 45px;
                                overflow-y: hidden;
                            }

                            .product-price {
                                color: #000;
                                font-size: 26px;
                            }

                            .buy-btn {
                                text-align: center;

                                button {
                                    width: 110px;
                                    padding: 0.8rem;
                                    border-radius: 1.5rem;
                                    border: none;
                                    background-color: #ffd82b;

                                    a {
                                        text-decoration: none;
                                        color: #fff;
                                        font-weight: bold;
                                        font-size: 18px;
                                    }

                                }
                            }


                        }
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {
    .app-category-section {
        width: 100%;
        height: auto;
        // padding-top: 70px;

        .hero {

            .category-img-wrapper {
                width: 100%;
                height: 100vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 0% 40%;
                }
            }

            .our-menu {
                font-size: 90px;
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -35%);
            }
        }


        .app-products-wrapper {
            display: flex;
            flex-wrap: wrap;


            .app-products-content {
                padding: 0 3.5rem;
                width: 33.3333%;

                .app-product {
                    // text-align: center;
                    border: 1px solid #b1b1b1;
                    border-radius: 1.5rem;
                    margin-bottom: 1rem;
                    padding: 2rem 0;

                    .app-product-img {
                        width: 130px;
                        height: 130px;
                        margin: auto;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            object-position: 0%;
                            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

                        }
                    }
                }
            }

        }

    }

}