nav {
    width: 100%;
    height: 90px;
    background-color: #00000079;
    // background-color: #B8001F;
    z-index: 1000;
    position: fixed;
    top: 0;


    .logo-and-user-wrapper {
        height: 100%;
        max-height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 18%;
            min-width: 80px;
            height: auto;
            max-height: 90px;
            z-index: 1005;


            img {
                width: 100%;
                height: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        ul {
            display: flex;
            flex-flow: wrap;
            justify-content: end;
            max-height: 100%;
            align-items: center;

            li {
                list-style: none;
                color: #ffffff;

                .fa-magnifying-glass,
                .fa-user,
                .fa-cart-plus,
                .mobile-menu-burger,
                .mobile-menu-close {
                    font-size: 1.2rem;
                    margin: 0 1.5rem 0 1.5rem;
                }

                .mobile-menu-burger {
                    font-size: 2.5rem;
                    opacity: 1;
                    transition: opacity 150ms linear 150ms;
                    color: #ffffff;
                }

                .mobile-menu-burger.hidden {
                    opacity: 0;
                }

                .mobile-menu-close {
                    font-size: 2.5rem;
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    transform: translateY(-50%);
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 150ms linear 150ms;
                    color: #ffffff;


                }

                .mobile-menu-close.active {
                    opacity: 1;
                    z-index: 1002;
                }

                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }

    .links {
        width: 100%;
        height: 100dvh;
        max-height: 100dvh;
        overflow-y: auto;
        background-color: #00000079;
        position: absolute;
        top: 0;
        right: -100%;

        visibility: hidden;
        transition: right 750ms ease, visibility 750ms linear 0ms;


        .div {
            height: 90px;
            width: 100%;
            background-color: #2d1208;
        }



        ul {

            list-style: none;
            position: fixed;
            height: 100dvh;
            max-height: calc(100dvh - 90px);
            width: 100%;

            overflow: scroll;
            margin-top: 9rem;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                list-style: none;
                margin-bottom: 2rem;
                margin-left: 7rem;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 2.5rem;
                }
            }
        }

    }

    .links.active {
        right: 0%;
        visibility: visible; // Ensure visibility is set to visible when active
        // transition: left 550ms ease, visibility 550ms ; /* No delay on visibility when active */
    }
}

@media screen and (min-width: 768px) {
    nav {
        height: 70px;

        .logo-and-user-wrapper {
            height: 100%;
            max-height: 70px;


            .logo {


                width: 5%;
                max-height: 70px;

            }








            .mobile-menu-close {
                position: absolute;
                // top: 50%;
                right: 1%;
                z-index: -1;
                color: white;
                opacity: 0;

                transition: opacity 350ms linear 350ms;
            }

            .mobile-menu-close.active {
                opacity: 1;
                z-index: 1002;
            }

            .mobile-menu-burger {
                color: #ffffff;
                opacity: 1;
                z-index: 1002;
            }

            .mobile-menu-burger.hidden {
                opacity: 0;
            }



        }

        .links {
            width: 35%;
            height: 100vh;
            max-height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 1001;
            // transition: all 3s linear;
            visibility: hidden;
            transition: right 750ms ease, visibility 750ms linear 0ms;

            .div {
                height: 70px;
                width: 100%;
                background-color: #2d1208;



            }

            ul {
                list-style: none;
                position: fixed;
                height: 100vh;
                max-height: 100vh;
                width: 35%;
                z-index: 1002;
                overflow: scroll;

                li {

                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }

        .links.active {
            right: 0%;
            visibility: visible; // Ensure visibility is set to visible when active
            
        }

    }
}