//MOBILE SCSS
.home {
    position: relative;
    width: 100%;
    height: calc(100dvh - auto);

    .hero-img{
        width: 100%;
        height: 100vh;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .home-categories-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
 
        h2 {
            // font-size: 1.3rem;
            margin: 0 0 1rem 0;
        }
    
        .category {  
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;

            article {
                width: calc(100% / 2 - 1rem);
                height: auto;
                max-height: auto;
                margin: 0 0.5rem 0 0.5rem;
                padding: 1rem 0 1rem 0;
                box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
                
                img {
                    width: 100%;
            
                }
    
                &:hover {
                    cursor: pointer;
                }

                h3{
                    text-align: center;
                    color: #000000
                }
            }
         
        }
    }
    
    .video{
        width: 100%;


        video{
            width: 100%;
        }
    }

    .short-bussiness-description{
        width: 100%;
        padding: 0 0.5rem 0 0.5rem;
        h2{
            text-align: center;
            margin: 0 0 1rem 0;
        }

        p{
            
        }
    }

   
}

;

//DESKTOP SCSS
@media screen and (min-width: 768px) {
    .home {
        width: 100%;
        height: calc(100vh - auto);  
   
        // img {
        //     width: 100%;
        //     height: 100%;

        // }

        // .btn-wrapper {
        //     display: block;
        //     position: absolute;
        //     top: 45%;
        //     left: 50%;
        //     transform: translate(-50%, -45%);

        //     button {
        //         background: transparent;
        //         background-color: #b8001fab;
        //         padding: 12px 42px;
        //         border: none;
        //         border-radius: 20px;

        //         a {
        //             text-decoration: none;
        //             font-size: 1.5em;
        //             color: #ffffff;
        //         }
        //     }
        // }

        .home-categories-wrapper {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        
            h2 {
                font-size: 2em;
            }
        
            .category {  
                width: 90%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
      
                
            
                article {
                    width: calc(100% / 3 - 2rem);
                    margin: 0 1rem 10px;

                    height: 300px;
                    max-height: 500px;
                    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
                    
                    img {
                        // padding: 0 15px;
                        width: 100%;
                  

                    }
        
                    &:hover {
                        cursor: pointer;
                    }
                }
             
            }
        }
        

        // .short-pizza-description{
        //     width: 100%;
        //     min-height: 600px;
        //     // max-height: 450px;

        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;

        //     h2{
        //         margin: 0 0 35px;
        //         font-size: 2.5em;
                
        //     }

        //    p{
        //     width: 50%;
        //     font-size: 1.4rem;
        //    }
        // }
        



            
            // .video{
            //     width: 100vw;               
                

            //     video {
            //       width: 100%;
            
            
            //     }
            // }
          
          
          
    }
}

